<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <br>
            <br>
                <br>
                    <div id="calorias"style="width: 500px; height: 80px; background-color: red; margin-left: 20px;" >
                        <p>Calorias</p>
                    </div>

                    <footer th:replace="layout/plantilla :: footer"/>
    </body>
    </html>
